extends layout

block content
  h1 おすすめの!{typeOfMeal[type]}
  form#meal(name="meal" action="/" method="POST")
    select(name="type" onChange="change()")
      each val, key in typeOfMeal
        option(value=key selected=(key === type)) !{val}
  p#text= text

  script
    | const change = function () {
    |  document.getElementById('text').innerText = 'loading...';
    |  document.forms["meal"].submit();
    | };